* {
    background-color: #151b20;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.what-is-covid {
    font-size: 23px;
}

.symptoms {
    line-height: 0.5em;
    margin-left: 10px;
    margin-bottom: 19px;
}

.loading {
    text-align: center;
    font-size: 40px;
    font-weight: 900;
    margin-left: 30px;
}
.corona-title {
    text-align: center;
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 0;
}
.corona-second-title{
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    margin-top: 0;
}

.about-and-countainer {
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.image {
    display: flex;
    justify-items: center;
    justify-content: center;
    align-items: center;
    width: 200px;

}

.searchbox-container{
    display: flex;
    justify-items: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.searchbox {
    background-color: white;
    margin: 0 auto;
    padding-left: 7px;
    color: black;
    width: 300px;
    height:30px;
    font-size: 15px;
    border-radius: 5px;
    border: 1px solid black;
    color: black;
    margin-top: 20px;
}

.container-container{
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    align-items: flex-start;
    margin: 0;
    padding: 0;
    max-height: 575px;
    overflow: scroll;

}

.country-container {
    border: 1px solid white;
    border-radius: 10px;
    margin: 10px;
    padding-left: 10px;
}

.country {
    background-color: #1d262c;
    color: white;
    margin-left: 10px;
    font-weight: 800;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.box {
    width: 150px;
    height: 150px;
    background-color: #1d262c;
    border: 1px solid white;
    padding: 5px;
    margin-left: 10px;
}

.box-container {
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    align-items: flex-start;
    margin: 0;
    padding: 0;
    background-color: #1d262c;

}

.country-info-number {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    vertical-align: middle;
    margin: 0 auto 20px;
    color: #b2192b;
    font-size: 60px;
    font-weight: 700;
    text-align: center;
    background-color: #1d262c;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.recovered{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    vertical-align: middle;
    margin: 0 auto 20px;
    color: #1c9851;
    font-size: 60px;
    font-weight: 700;
    background-color: #1d262c;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.percent {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    vertical-align: middle;
    color: #b2192b;
    font-size: 50px;
    font-weight: 700;
    background-color: #1d262c;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.country-info {
    background-color: #1d262c;
    color: white;
    padding: 0;
    line-height: 0.5em;
    padding-left: 50px;
}



.country-info-story {
    background-color: #283238;
    font-size: 15px;
    padding-left: 30px;
    padding-right: 30px;
    line-height: 1.5em;

}


.phone-number {
    font-weight: 700;
    text-decoration: underline;
    font-size: 22px;
    background-color: #283238;
    color: #b2192b;

}






/* entire container, keeps perspective */
.flip-container {
	perspective: 1000px;
}
	/* flip the pane when hovered */
	.flip-container:hover .flipper, .flip-container.hover .flipper {
		transform: rotateY(180deg);
	}

.flip-container, .front, .back {
	width: 380px;
	height: 410px;
}

/* flip speed goes here */
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;

	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;
    background-color: #1d262c;
	position: absolute;
	top: 0;
	left: 0;
}

.country-info-story {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
}

/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
    transform: rotateY(0deg);
    margin: 20px;
    
}

/* back, initially hidden pane */
.back {
    transform: rotateY(180deg);
    background-color: #283238;
    padding-left: 30px;
    padding-top: 50px;
    padding-top: 50px;
    margin: 0;
    width: 330px;
}


.important-corona {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 50px;
    line-height: 1.5em;
}

.graph-container {
    margin-left: 50px;
    margin-bottom: 100px;
    justify-content: space-between;
}

.graph {
    height: 200px;
    margin-bottom: 30px;
    justify-content: space-evenly;
    margin-right: 10px;
}

.bullet-points {
    font-size: 25px;
    font-weight: 800;
    color: #b2192b;
}

.more-about-corona {
    font-weight: 700;
    font-size: 25px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.second-paragraph {
    margin: 0;
}

.second-paragraph-title {
    font-weight: 500;
    margin-bottom: 5px;
}

